@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

#logo {
  position:absolute;
}
#wefw {
  display:flex;
  justify-content: center;
}
#news {
  position:absolute;
  left:0;
  top:15%;
  margin:50px;
  border:1px black solid;
  height:60vh;
  width:30vw;
  padding:5px;
  font-family:"Golos Text";
}
#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  top:50%;
  height:100vh;
  flex-direction: column;
}
button   {
  font-family:"Golos Text";
  font-size:35px;
  border:none;
  height:50px;
  width:150px;
  border-radius: 2px;
  background-color:rgb(14, 128, 176);
  color: white;
}
